* {
    font-family: "Bree Serif", Arial, sans-serif;
}

body {
    margin: 0 15%;
    background-color: #f9f4f5;
}
h1 {
    font-weight: 700;
    font-size: 6em;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 10px dashed #d10e2f;
}

h1 span {
    color: #d10e2f;
}

p {
    font-size: 1.5em;
    font-weight: 100;
}

h1, p {
    color: #2c2c2c;
}