* {
    font-family: "Bree Serif", Arial, sans-serif;
}


body {
    margin: 0 15%;
    background-image: url(../background.png);
    background-size: cover;
}
h1 {
    color: #413335;
    font-weight: 700;
    font-size: 6em;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 3px dashed #da0b22;
}

h1 span {
    color: #da0b22;
}

p {
    font-size: 1.5em;
    font-weight: 100;
    color: #f3e9ea;
}